$baseColor: #000;
$keyColor: white;
$accentColor: #21252b;

*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
  cursor: url('../cursor.png'), auto;
}

body {
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  cursor: url('../cursor.png'), auto;
}

/* PROGRAM WINDOWS */
.programWindow {
  position: absolute;
  display: inline;
  text-align: left;
  left: 150px;
  top: 100px;
  opacity: 0.95;
  width: 45%;
  height: 60%;
  color: $keyColor;
  /* background-image: linear-gradient(to bottom right, #21252b, #31353b); */
  /* DEPRICATED */
  background-color: $accentColor;
  animation: 0.9s fadein;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.1);
  filter: grayscale(0.1) drop-shadow(16px 16px 20px #21252b);
  transform: scale(1);
}

.containerTitle {
  position: absolute;
  color: $keyColor !important;
  font-size: 18px;
  left: 50%;
  transform: translate(-50%, 2px);
}

.menubar {
  display: inline;
  color: $keyColor;
  background-color: $accentColor;
  border-style: none;
  font-size: 20px;
  height: 25px;
  width: 25px;
  top: 0px;

  &:hover {
    background-color: #31353b;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #dbe2ef;
  }
}
/* Sowwyz#1337 */
.viewFrame {
  position: relative;
  height: 99.8%;
  width: 99.8%;
  color: $keyColor;
  border-style: none;
  overflow: hidden;
}
/* Sowwyz#1337 */
app {
  border-style: none;
  overflow: hidden;

  // when dragging
  &:active {
    cursor: move;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.95;
  }
}
/* Sowwyz#1337 */
/* ALL APPS */
#all-apps {
  position: absolute;
  color: #EFF0F1;
  background: rgba(1, 1, 1, 0.7);
  left: 0px;
  top: -48px;
  width: 100%;
  height: calc(100% - 11px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-wrap: normal;
  overflow-y: visible;
  z-index: 9997;
}
/* Sowwyz#1337 */
#allAppsCloseBTN {
  position: absolute;
  top: 50px;
  left: 10px;
  width: auto;
  height: 60px;
  font-size: 26px;
  padding: 20px;
  color: $keyColor;
  background-color: rgba(255, 255, 255, 0.15);
  border-style: none;
  border-radius: 25px;
  z-index: 12;

  &:hover {
    animation: 0.2s fadein;
    background-color: #c9c9cf;
    color: #333;
    border-radius: 25px;
  }
}
/* Sowwyz#1337 */
.draw__item {
  position: relative;
  top: 100px;
  padding: 40px;
  height: 150px;
  width: 190px;
  text-align: center;

  .deleteBTN {
    position: absolute;
    right: 8px;
    top: 8px;
    color: $accentColor;
    font-size: large;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;

    &:hover {
      background-color: rgba(120, 120, 120, 0.6);
    }
  }

  &:hover {
    background: rgba(200, 200, 200, 0.08);
  }
}
/* Sowwyz#1337 */
/* SIDEBAR */
#appsTray {
  position: relative;
  left: 58px;
  width: 99%;

  &>p {
    position: absolute;
    border-right: solid;
    border-top: solid;
    border-right-width: thin;
    border-top-width: medium;
    border-color: $keyColor;
    bottom: 58px;
    font-size: 18px;
    width: 220px;
    animation: iconFadein 1.2s;
    transition: background-color 200ms cubic-bezier(0.4, 0, 1, 1) 50ms;

    &:hover {
      background-color: $keyColor;
      color: #21252b;
      border-color: #21252b;
    }
  }
}
/* Sowwyz#1337 */

.appTrayIcon {
  position: relative;
  height: 32px;
  width: 44px;
  top: 8px;
  padding-right: 10px;
  padding-left: 2px;
}

@keyframes iconFadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* TASKBAR */
.taskbar {
  position: relative;
  left: 0;
  right: 0;
  top: calc(100% - 130px);
  height: 48px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.15);
  background-color: #21252b;
  z-index: 129;
  opacity: 0.88;

  // DEPRICATED
  &__item {
    position: relative;
    margin-right: 4px;
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 22px;
    color: $keyColor;
    border: 1px solid transparent;
    transition: all 100ms;

    &:hover {
      background-color: rgba(120, 144, 156, 0.15);
    }
  }

  &__tray {
    position: absolute;
    bottom: -80px;
    color: $keyColor;
    padding: 0 10px;
    float: right;
    line-height: 48px;
    width: 100%;
  }
}

// .taskbarItem {
//   position: relative !important;
// }

.taskbar__item>i {
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.time {
  position: fixed;
  right: 8px;
  bottom: -16px;
  z-index: 999999;

  p {
    font-size: 17px;
    color: $keyColor;
  }
}

#timeDisplay:hover {
  cursor: pointer;
  color: #fff;
  transition: all 600ms;
}

#showdesktopBTN {
  position: absolute;
  background-color: rgba(120, 144, 156, 0.5);
  bottom: 80px;
  width: 1px;
  height: 48px;
  right: -6px;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: rgba(120, 144, 156, 0.8);
    transition: all 600ms;
  }
}

.start-menu {
  display: flex;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 48px;
  padding: 10px;
  height: 85vh;
  min-height: 512px;
  z-index: 9999;
  color: $keyColor;
  background-color: #282c34;

  &-fade {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.start--open {
  background-color: #282c34 !important;
}

/* start menu */
.search__input {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 36px;
  background-color: $keyColor;
}

#search__input {
  display: block;
  width: 100%;
  padding: 10px;
  height: 32px;
  border: 0;
  font-size: 12px;
  color: #607D8B;
  background-color: transparent;
  z-index: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.start-menu__list,
.start-screen {
  flex: 0 1 auto;
}

.start-menu__list {
  position: absolute;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms;
}

.start-menu--open .start-menu__list {
  transform: none;
  opacity: 1;
}

.user-info {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  color: $keyColor;
  transition: all 100ms, transform 500ms;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.start-menu--open .user-info {
  transform: none;
}

.user-info {
  &__img {
    display: block;
    width: 40px;
    height: 40px;
  }

  &__name {
    font-size: 20px;
    font-weight: 200;
    align-self: center;
  }

  &__power {
    margin-left: auto;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    color: $keyColor;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}

.start-menu__label {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
}

.start-menu__recent {
  overflow: hidden;
  max-height: 65%;
  padding: 0;
  margin: 0;
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all 500ms 100ms, opacity 1000ms 250ms;
}

.start-menu--open .start-menu__recent {
  transform: none;
  opacity: 1;
}

.start-menu__recent li {
  list-style: none;
}

.start-menu__recent li a {
  display: block;
  padding: 10px;
  color: $keyColor;
  transition: all 100ms;
}

.start-menu__recent li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.start-menu__recent li a>i {
  display: inline-block;
  margin-right: 4px;
  font-size: 20px;
  text-align: center;
}

#all-appsBTN {
  position: absolute;
  right: 0;
  bottom: 40px;
  display: block;
  margin-bottom: 10px;
  color: $keyColor;
  transition: all 100ms;
}

#all-appsBTN>i {
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid $keyColor;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  line-height: 26px;
  text-align: center;

  &:hover {
    background-color: #37474F;
  }
}

.start-screen-scroll {
  max-height: 85vh;
  min-height: calc(128px * 3 - 8px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: -8px;
  padding: 4px;
  margin-left: 4px;
  transform: translate(-100%, 0);
  transition: transform 500ms, opacity 1000ms;
  opacity: 0;
}

.start-menu--open .start-screen-scroll {
  transform: none;
  opacity: 1;
}

.start-screen {
  position: relative;
  width: 256px;
  word-spacing: -1em;
}

@media screen and (min-width: 700px) {
  .start-screen {
    min-width: 384px;
  }
}

@media screen and (min-width: 800px) {
  .start-screen {
    min-width: 512px;
  }
}

@media screen and (min-width: 960px) {
  .start-screen {
    min-width: 640px;
  }
}

.ui-resizable-se {
  background-image: url("");
}

.menu-toggle {
  position: relative;
}

.menu-toggle--open {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu {
  position: absolute;
  z-index: 10000;
  background: $keyColor;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 800ms;

  &:hover {
    background-color: $keyColor;
  }

  &>a {
    display: block;
    width: 200px;
    padding: 10px 15px;
    font-size: 16px;
    color: #455A64;
    transition: all 100ms;

    &:hover {
      background-color: #ECEFF1;
    }
  }
}
/* Sowwyz#1337 */
/* Sowwyz#1337 */
/* Sowwyz#1337 */
/* Sowwyz#1337 */
/* Sowwyz#1337 */
/* Sowwyz#1337 */
/* Sowwyz#1337 */
/* Sowwyz#1337 */